---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="projects">
  <section
    class="w-full h-auto flex flex-col gap-10 text-center my-20 lg:mt-30"
  >
    <h2 class="text-6xl lg:text-4xl">
      My <span class="text-blue-800 font-bold">Projects</span>
    </h2>
    <div class="grid grid-cols-1 gap-5 place-items-center p-10 lg:grid-cols-3">
      <Card
        title="Fuego burguer"
        body='Fuego Burger is a gourmet burger restaurant in Colombia, with locations in Medellín and Bogotá. With the slogan "De barrio pero elegante" (From the neighborhood but classy), it offers bold and flavorful burgers like the Clásica, Bandida, and Bomba. The site allows online orders and provides detailed menu information. Built with React, Next.js, TailwindCSS, and Node.js, it delivers a smooth and modern user experience.'
        path="/images/projects/fuego.png"
        tags={["React", "NodeJS", "TailwindCSS", "NextJS"]}
        link="https://fuego-burger-mu.vercel.app/"
      />
      <Card
        title="Challengers"
        body='Challengers is a platform where users can create, vote on, and view challenges for their favorite content creators. Users can propose creative challenges, support the most popular ones, and engage with a like-minded community. The platform offers exclusive content when influencers complete challenges and ensures authenticity through a verification system. It also integrates with social media for easy sharing. Currently in development, Challengers allows users to sign up for notifications about its launch.'
        path="/images/projects/challengers.png"
        tags={["React", "NodeJS", "TailwindCSS", "NextJS"]}
        link="https://challengers-landing.vercel.app/"
      />
      <!-- <Card
        title="Movies"
        body="Crafted a movie streaming page with React, FastAPI, and MongoDB, offering a unique cinematic experience. The platform enables users to explore and enjoy a diverse film selection through an intuitive interface. Focused on delivering an immersive digital space, the project caters to movie enthusiasts, ensuring easy and thrilling film discovery."
        path="/images/projects/movie.png"
        tags={["React", "FastApi", "MongoDB"]}
        link="https://lighthearted-stardust-39f6ad.netlify.app/"
      /> -->
    </div>
  </section>
</Layout>

<style></style>
